<ion-view cache-view="false">
  <ion-content>

  	<div class="bar bar-header bar-dark">
      <h1 class="title">CouponApp</h1>
    </div>

    <br><br><br>

    <div class="card">
    	<div class="item item-divider">
    		Bienvenue sur l'application CouponApp !
  		</div>
  		<div class="item item-text-wrap">
  			Sur cette application, il vous sera possible de consulter les bons de réductions disponibles, et éventuellement en commander. Vous pourrez également échanger des bons de réductions avec d'autres utilisateurs.
  			Si vous êtes gérant de magasin, vous pourrez ajouter vos bons de réductions.
  		</div>
  		<div class="item item-divider">
    		Alors n'attendez plus et inscrivez-vous !
  		</div>
		</div>

  </ion-content>
</ion-view>
