<ion-view cache-view="false">
  <ion-content>
  
    <h1>Choissisez un bon à échanger !</h1>
    <div class="list" ng-controller="CompteCtrl">

      <ion-list>
        <ion-item ng-repeat="coupon in coupons" ng-click="">
          <h2>{{coupon.shopName}}</h2>
          <p>{{coupon.value}}</p>
        </ion-item>
      </ion-list>

      <label class="item">
        <button class="button button-block button-positive" ng-click="choix.hide()">Annuler</button>
      </label>
    </div>
  </ion-content>
</ion-view>
