<ion-view cache-view="false">
  <ion-content>

  	<div class="bar bar-header bar-dark">
      <h1 class="title">Echange de coupons</h1>
    </div>

    <br><br><br>
    <div class="list" ng-controller="EchangeCtrl">
      <h2>Coupons à échanger</h2>
      <ion-list>
        <ion-item ng-repeat="exchange in coupons" ng-click="choix.show()">
          <h2>{{exchange.couponA.shopName}}</h2>
          <p>{{exchange.couponA.value}}</p>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
