<ion-view>
  <ion-content>
    <div>
      <h1>Marketplace !</h1>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="coupon in coupons" type="item-text-wrap">
          <h2>{{coupon.shopName}}</h2>
          <p>{{coupon.value}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="addCoupon(coupon._id)">
            Reclaim !
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
